services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    command: ["postgres", "-c", "log_statement=all"]
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - ./postgres_data:/var/lib/postgresql/data 

  bento_init:
    image: ghcr.io/warpstreamlabs/bento:1.11
    container_name: bento_init
    depends_on: 
      postgres:
        condition: service_healthy
    command: ["streams", "./streams/*.yaml"]
    volumes:
      - ./streams:/streams
